.button{
    width: 120px;
    border-radius: 60px;
    margin: 5px;
}
      
.button:hover{
    background-color :lightblue;
}
.cal{
    position: fixed;
    top: 30%;
    left: 70%;
    border: black 4px groove;
}
.html{
    background: url('./background.jpg');
}